
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@500;700;900&display=swap');

/* -----------------------------------\\*utility//-------------------------------------------------------------------------------------------------- */
/* -----------------------------------\\*utility//-------------------------------------------------------------------------------------------------- */
/* -----------------------------------\\*utility//-------------------------------------------------------------------------------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
}

:root{
    --heading: #b667dd;
    --para: #777;
    --navcolor: #474747;
    --para-tint: #f1f1f1;
    --white: #fff;
    --helper: #bd8bfd;
    --helper-tint: #f0ebfc;
    --bg: rgb(249, 249, 255);
    --gradient: linear-gradient(0deg, rgb(226, 110, 255) 0%, rgb(174, 112, 255) 100%);
    --gradientSupport: linear-gradient(0deg, rgb(225, 127, 250) 0%, rgb(238,130,238) 100%);
    --shadow: 0px, 0px, 20px, 0px rgb(132 144 255/ 20%);

    --suportShadow: 0px, 100px, 20px, 0px rgb(132 144 255/ 30%);

}

.grid-2-columns{
    grid-template-columns: repeat(2, 1fr);
}

.grid-3-columns
{
    
    grid-template-columns: repeat(3, 1fr);
}

.grid-4-columns
{
    
    grid-template-columns: repeat(4, 1fr);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5{
    font-family: 'Roboto', sans-serif;
}

h1{
    color: var(--heading);
    font-size: 6rem;
    font-weight: 600;
}

h3{
    font-size: 2rem;
    font-weight: 400;
}

p{
    color: var(--para);
    font-size: 1.7rem;
    line-height: 1.6;
}

a{
text-decoration: none;
}

li{
    list-style: none;
}



/* -----------------------------------\\*Navbar//-------------------------------------------------------------------------------------------------- */
/* -----------------------------------\\*Navbar//-------------------------------------------------------------------------------------------------- */
/* -----------------------------------\\*Navbar//-------------------------------------------------------------------------------------------------- */


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg);
    padding: 2rem 10rem;
}

.header img{
    width: 13%;
}

.navbar-lists{

    display: flex;
    gap: 4rem;

}

.navbar-link:link, 
.navbar-link:visited{

    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--navcolor);
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s linear;
    
}

.navbar-link:hover, 
.navbar-link:active{
    
    color: #bbbbbb;
    

    
}


/* mobile navbar.................... */

.mobile-navbar{

    
    background-color: transparent;
    cursor: pointer;
    border: none;
    display: none;
    
}

.mobile-navbar-icon{
    
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 5rem;
}

.fa-xmark{
    display: none;
}
 



/* -----------------------------------\\*Main//-------------------------------------------------------------------------------------------------- */
/* -----------------------------------\\*Main//-------------------------------------------------------------------------------------------------- */
/* -----------------------------------\\*Main//-------------------------------------------------------------------------------------------------- */

main{
    background-color: var(--bg);
    padding: 5rem 0;


}
.grid{
    gap: 8rem;
    display: grid;
}


.main-section{
    
    grid-template-columns: repeat(2, 1fr);
   

 
}
.container{
    max-width: 138rem;
    margin: 0 auto;
    
}
 
.main-left{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-image{
    
   max-width: 70%;
    display: inline-block;
}

.main-right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 

.main-top-para{
    color: var(--helper);
    font-weight: 500;
    font-size: 2rem;
    text-transform: uppercase;
    
}

.main-bottom-para{
    font-weight: 500;
    margin: 5rem 0;
    
    
}

.main-header{

    font-weight: 700;
    text-transform: uppercase;
    color: black;
    font-size: 7rem;
}


/* utility......................................................................................... */
/* utility......................................................................................... */

.button:link,
.button:visited{

   background-image: var(--gradient);
    font-size: 1.7rem;
    padding: 1rem 2rem;
    cursor: pointer;
    border: none;
    display: inline-block;
    color: var(--helper-tint);
    text-transform: uppercase;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;


}

.button:hover,
.button:active {

    box-shadow: 0px 20px 20px 0px rgb(132 144 255/ 30%);

}


.buttons{

    background-image: var(--gradient);
    font-size: 1.7rem;
    padding: 1rem 2rem;
    border: none;
    color: var(--helper-tint);
    text-transform: uppercase;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    cursor: pointer;
}

.buttons:hover,
.buttons:active {

    box-shadow: 0px 20px 20px 0px rgb(132 144 255/ 30%);

}


/* Biodata......................................................................................... */
/* Biodata......................................................................................... */

.grid{
    gap: 8rem;
    display: grid;
}

/* .container{
    max-width: 160rem;
    margin: 0 auto;
} */

.biodata{

    grid-template-columns: repeat(2, 1fr);
    gap: 9rem;
    max-width: 160rem;
    margin: 4rem auto;
}


.biodata-image{
box-shadow: -2rem -2rem var(--helper);
display: inline-block;

}



.biodata-left{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

/* design for the header ............................*/
.common-header2{
    font-weight: 600;
    font-size: 5rem;
    padding: 5rem 0;
    position: relative;
}



.common-header2::before{
content: ""; 
/* it is very neccesary that we give content */
top: 12rem;
left: 0;
background: var(--helper);
border-radius: 50%;
width: 3rem;
height: 3rem;
position: absolute;

}

.common-header2::after{
    content: ""; 
    /* it is very neccesary that we give content */
    top: 13.1rem;
    left: 1rem;
    background: var(--helper);
    width: 28rem;
    height: 0.6rem;
    position: absolute;
    
    }
/* design for the header end here............................*/
    

.common-para2{
    
    font-weight: 500;
    margin-top: 5rem;
    margin-bottom: 2rem;
    
}

/* design for the progress bar............................*/

.progress-bar{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 0;
    
}

.section-header2{
font-size: 2.1rem;
font-weight: 500;
margin-bottom: 2.5rem;

}

/* design for the progression of my gradient color in the progress bar .............................*/

.designEach{
    position: relative;
    height: 1.2rem;
    background-color: var(--helper-tint);
    border-radius: 10px;

    
}

.designEach::before{
    content: "";
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--gradient);
    border-radius: 10px;

}

.first::before{
    width: 80%;
    
}
.second::before{
    width: 90%;
    
}

.third::before{
    width: 70%;
    
}

.forth::before{
    width: 65%;
   
}


/* design for the marks in the progress bar .............................*/

.biodata-design span{
font-size: 1.4rem;
background-color: var(--helper);
color:var(--para-tint);
height: 3rem;
width: 5rem;
top: 1.8rem;
position: absolute;
display: flex;
align-items: center;
justify-content: center;
}

.first span{

left: 76%;

}
.second span{

left: 86%;

}

.third span{

left: 66%;

}

.forth span{

left: 61%;

}

.designEach span::after{

    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border: 1.3rem solid var(--helper);
    border-bottom-color: red;
    border-color: transparent;
    border-bottom-color: var(--helper);
    top: -2rem;

}





.biodata-btn{
    margin-top: 2rem;
}


/* ...................Our Portfolio.............................. */


.portfolio-section{

    background-color: var(--bg);
    padding-bottom: 6rem;
}

.portfolio-text p{
    max-width: 60rem;
}


.p-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 5rem 0;

}



/* .................Portfolio Image transition...................... */
.p-image{
    display: grid;
    gap: 2rem;
}

.p-eachImage img{
    width: 100%;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
}

.p-eachImage {

    position: relative;
    overflow: hidden;

}

.p-eachImage .overlay{

   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background: var(--helper);
   display: flex;
   justify-content: center;
   align-items: center;
   transform: translateY(100%);
   border-radius: 7px;
   opacity: 0;
   transition: all 0.6s linear;
}


.p-eachImage:hover .overlay{
    transform: translateY(0);
    opacity: 0.7;

}

.overlay .common-header2{
    color: white;
    font-weight: 800;
    text-decoration: none;
   
}

/* for javascript */

.p-btn-active{
    transform: translateY(-1rem);
}

.p-eachImage-active{
    display: none;
}
/* .................Portfolio Image transition end...................... */


/* // .......................Counter section start........................... */


.section-counter{

    background-image: var(--gradient);
    padding: 5rem;
    text-align: center;
    margin-bottom: 5rem;
    
}

.counter-data{
    display: grid;
}

.counter-data h2{

    font-size: 4.5rem;
    color: white;
}

.counter-data p{

font-size: 2.2rem;
color: white;
}



/* .............................Services Section.......................... */

.service-heading p{
    padding: 4rem 0;
    max-width: 60rem;
}

.service-container
{
    display: grid;
    gap: 9rem;
    padding: 3rem 0;

    
}

.service-icons{
    display: inline-block;
    background-color: #ffecff;
    height: 5rem;
    width: 5rem;
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    padding: 14px;
    position: relative;
    animation: water-wave 3s linear infinite;
}

.service-icons::after{
    content: "";
    left: 0;
    top:0;
    height: 90%;
    width: 90%;
    border: 1.5px solid rgb(211, 69, 230);
    
    position: absolute;
    animation: water-wave 3.5s linear infinite;
}

.services-offered{

    border-radius: 8px;
    text-align: center;
    box-shadow: #ebcaeb 0px 0px 5px 1px; 
    padding: 6rem 4rem;
    transition: all 0.4s linear;
   

}

@keyframes water-wave {
    0% {
        border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    }

    50% {
        border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
    }

    100% {
        border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    }
    
}

.services-offered h3{
margin-top: 3rem;
margin-bottom: 1rem;
}
.services-offered:hover{

    transform: translateY(-3rem);
}


/* <!-- ......................Clients Testimonials................ --> */

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
/* 
  .testimonials{

    margin: 3rem 0;
  } */

  .testimonials h2{
      margin-bottom: 6rem;
  }

  .client-message{
    border: 0.4px solid #fde1fd;
    box-shadow: #ebcaeb 0px 0px 5px 1px;
    border-radius: 8px;
    padding: 5rem 3rem;
    position: relative;
  }

  .client-message::after{
    position: absolute;
    height: 0;
    width: 0;
    left: 2%;
    top: 0;
    /* put any font awesome icons as pseudo elements */
    content: "\f10d";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: var(--helper-tint);
    font-size: 5rem;
  }

  .client-message::before{
    position: absolute;
    height: 0;
    width: 0;
    right: 12%;
    bottom: 28%;
    /* put any font awesome icons as pseudo elements */
    content: "\f10e";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: var(--helper-tint);
    font-size: 5rem;
  }

  .client-image img{

    width: 100px;
    border-radius: 20rem;
  }
  .client-testimonials{
      display: grid;

margin-top: 5rem;
  }


  /* to put triangle after the message */
  .client-testimonials::before{

    content: "";
    position: absolute;
    border: 4rem solid white;
    border-color: transparent;
    border-top-color: rgb(245, 233, 245);
    height: 0;
    width: 0;
    left: 40%;
    bottom: 21.2%;
  }

  .client-name{
     display: flex;
     flex-direction: column;
     justify-content: center;
  }

 
/* <!-- Freelancing section start..................................... --> */

.freelancing-section{

margin-top: 6rem;
padding: 7rem 0px;
background: url(/images/3.png) no-repeat;
background-size: 100%;
background-attachment: fixed;
text-align: center;
position: relative;

  }
  


.overlay{
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
background-color: #bd8bfd;
opacity: 0.7;

  }

  .freelancing-texts h2{

    font-size: 4rem;
    margin-bottom: 1rem;
    
  }

  .freelancing-texts{

    position: relative;
    color: white;
  }
  .freelancing-texts p{
      color: white;
      padding-bottom: 2rem;
  }

  .freelancing-texts span{

    color: rgb(158, 250, 19);
  }
  

  /* <!-- ..............contact us.................................. --> */

  .form{

    max-width: 70rem;
    margin: 5rem auto;
  }

  .form input, .form textarea{ 

    width: 100%;
    padding: 1rem 2rem;
    margin: 1rem;
    border: 1px solid var(--helper-tint);
    box-shadow: #ebcaeb 0px 0px 0.5px 1px;
  }

  .form input[ type = "submit"]{
      width: 30%;
      border: none;
  }


.contact-section h2{
    font-size: 5rem;
}
 .contactName{
     display: grid;
     gap: 1rem;
 }

 /* .................footer section................... */

 .footer-section{
margin-top: 5rem;
background-color: rgb(6, 6, 43);
padding: 4rem 3rem;
color: white;
 }

 .footer{
     display: grid;
     gap: 7rem;
 }

 .footer-section p,  .footer-section a {

    color: #bbbbbb;
    padding: 1rem 0;
 }

 .footer-section a{
    
 }

 .footer-texts p{
     max-width: 30rem;
 }

 .footer-section a{

    font-size: 1.5rem;
 }

 .footer-section h3{

    margin-bottom: 2rem;
 }

 .footer-services li,  .footer-links li{

    padding: 0.5rem 0;
 }
 .footer-links{
     display: flex;
     align-items: center;
     flex-direction: column;
 }

 .footer-links h3{
     margin-left: -25px;
 }

/* ...........................footer icons.................................................. */



 .footer-icons i{ 

    background-color: #4f4f50;
    font-size: 3rem;
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    padding: 10px;
    animation: water-wave 3s linear infinite;
    border: none;
    display: inline-block;

 }


 .icons{
     display: grid;
     margin: 3rem auto;
     gap: 2rem;
     max-width: 20rem;
     
 }


 /* ...........copyright.................... */
 .copyright{
     text-align: center;
 }

 /* ................scroller................. */

 .scroller {

    bottom: 5%;
    right: 3%;
    font-size: 3rem;
    display: inline-block;
    position: fixed;
    color: white;
    background-color: #bd8bfd;
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    padding: 1rem 2rem;
    animation: water-wave 3s linear infinite;
    cursor: pointer;
    
 }

 /* ..........googlemap............... */

.googlemap{
    width: 100%;
    margin: 2rem auto;
}





/* ...........................................................x......................................... */


/* media query starts.......................... */

/* -----------------------1400px----------------------- */
@media only screen and (max-width: 1400px)
{
.main-left{

    align-items: center;
    text-align: center;
}

.main .grid{

gap: 0;
}

.container{
    max-width: 125rem;
    padding: 0 3rem;
}

}

/* -----------------------1400px finish----------------------- */



/* 1200px............................................ */

@media only screen and (max-width: 1200px)
{

    .service-heading p{
        padding: 2rem 0;
        max-width: 60rem;
    }
    
    .service-container
    {
        display: grid;
        gap: 2rem;
        padding: 3rem 0;
    
        
    }

    .services-offered{

        padding: 3rem 2rem;
    }

}

/* 1166px............................................ */

@media only screen and (max-width: 1166px)
{
    .client-testimonials::before{
        bottom: 19.7%;
    }

    .footer{
        gap: 0;
    }

    .common-para2 {

        margin-top: 0rem;
        margin-bottom: 0rem;
    }
}


/* 1000px for sandwitch icon............................................ */
@media only screen and (max-width: 1000px)
{
    .navbar{
        background: var(--gradient);
        height: 100vh;
        width: 100%;
        left: 0;
        top: 0;
        position: absolute;
    display: flex;
    justify-content: center;
    transform: translateX(100%);
    transition: all 0.5s linear;

    /* display none with animation..... */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 99;
    }

    .active .navbar {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;

    }

    .active .mobile-navbar .fa-bars{

        display: none;
    }

    .active .mobile-navbar .fa-xmark{

        display: block;
        display: flex;
    align-items: center;
    justify-content: center;
    }

    .navbar ul{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

.navbar-lists .navbar-link:link,
.navbar-lists .navbar-link:visited
{
color: black;
font-size: 3rem;

}

.header{
    position: relative;
    
}

    .mobile-navbar{
        display: block;
        z-index: 9999;
        border: 3px solid black;
        color: black;
    }

    .header img{
        width: 25%;
    }
}



/* ...........943px for main section header tag1............. */

@media only screen and (max-width: 943px)
{
   
    
    .main-bottom-para{
        font-weight: 500;
        margin: 2rem 0;
        
        
    }
    
    .main-header{
    
        font-size: 5rem;
    }
.biodata{

    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    max-width: 160rem;
    margin: 3rem auto;
}


.biodata-image{
box-shadow: -2rem -2rem var(--helper);
display: inline-block;
width: 100%;

}

.counter-data h2{

    font-size: 3rem;
   
}

.counter-data p{

font-size: 1.3rem;
color: white;
}

.section-counter {
   
    margin-bottom: 2rem;

    
}


@media only screen and (max-width: 918px)
{

    .client-testimonials::before{
        bottom: 18%;
    }
}

@media only screen and (max-width: 860px)
{

    .client-testimonials::before{
        bottom: 17%;
    }
}




@media only screen and (max-width: 750px)
{
    .header img{
        width: 50%;
    }
}

@media only screen and (max-width: 550px)
{
    .header img{
        width: 50%;
    }

    .header {

        padding: 2rem 0rem;
    }
}